@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.hero{
    background-image: url('../images/cow.jpg');
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family: cursive;
    word-spacing: 10px;
    letter-spacing: 5px;
    padding: 60px;
}
.article{
    width: 80%;
    margin: 60px auto;
    border: 10px solid yellow;
    padding: 20px;
    background-color: rgb(76, 205, 205);
}
.article h2{
    font-size: 48px;
    text-align: center;
}
.article p{
    font-size: 2em;
    line-height: 3em;
}