@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.hero{
    background-image: url('../images/cow.jpg');
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family: cursive;
    word-spacing: 10px;
    letter-spacing: 5px;
    padding: 60px;
}
.article, #cow-type{
    width: 80%;
    margin: 60px auto;
    border: 10px solid yellow;
    padding: 20px;
    background: linear-gradient(45deg, yellow, blue);

}
.article h2, #cow-type h2{
    font-size: 48px;
    text-align: center;
}
.article p{
    font-size: 2em;
    line-height: 3em;
}
.cow-image{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.cow-image div{
    min-width: 300px;
}
.cow-image img{
    width: 100%;
}
.pr{
    text-align: center;
    margin: 20px 0px;
}